.contracts-header p {
  margin-top: 5px; }

.contracts-header .button {
  margin-left: 15px; }

.handleOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px; }

.plink {
  color: #3366BB; }

.plink:hover {
  color: red;
  cursor: pointer; }
