.welcomeHeader {
  color: red;
}

.contract-price-text {
  margin-top: 10px;
}

.open-modal-element:hover{
  cursor: pointer;
  color: red !important;
  h3.ui.header{
    color: red !important;
  }
  .header{
    color: red !important;
  }
  .description{
    color: red !important;
  }
  .meta{
    color: red !important;
  }
  i {
    color: red !important;
  }
}

.contract-blue-container {
  background-color: #DAE7FA;
  padding: 15px;
  margin-bottom: 1%;

  .title:hover {
    cursor: pointer;
    color: red !important;
  }

}

.contract-white-container {
  padding: 15px;
}

.font-bold {
  font-weight: bold;
}

.column {
  padding-left: 15px !important;
}

.contract-row:hover {
  .contract-cell {
    cursor: pointer;
    color: red !important;
  }
}

.pdf-icon {
  color:red !important;

  &:hover {
    cursor: pointer;
    color:white !important;
  }

}