.welcomeHeader {
  color: red;
}

.contract-price-text {
  margin-top: 10px;
}

.open-modal-element:hover{
  cursor: pointer;
  color: red !important;
  h3.ui.header{
    color: red !important;
  }
  .header{
    color: red !important;
  }
  .description{
    color: red !important;
  }
  .meta{
    color: red !important;
  }
}