.contract-button-group {
  margin-top: 2% !important;
  margin-bottom: 2% !important; }

.contract-full-width-button {
  width: 100%;
  margin-top: 2.5% !important;
  margin-bottom: 2.5% !important; }

.contract-text-area {
  min-height: 100px; }
